[
	{
		"product": "commerce-portal",
		"acronym": "portal",
		"layer": "webapp",
		"application": "portal-web-app",
		"roots": [],
		"integration": 
		{
			"microsoft": {
				"msbuild": {
					"solutionPath": "%teamcity.build.checkoutDir%\\src",
					"projectFile": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.WebStore\\Vtex.Commerce.WebApps.WebStore.csproj"
				}
			}
		},
		"infrastructure":
		{
			"beanstalk":
			{
				"configPath": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.WebStore\\PackageConfig.txt"
			}
		}
	},
	{
		"product": "commerce-admin",
		"acronym": "admin",
		"layer": "webapp",
		"application": "portal-admin-web-app",
		"roots": [],
		"integration": 
		{
			"microsoft": {
				"msbuild": {
					"solutionPath": "%teamcity.build.checkoutDir%\\src",
					"projectFile": "%SolutionPath%\\Comercio\\Comercio\\AdminWebSite\\AdminWebSite.csproj"
				}
			}
		},
		"infrastructure":
		{
			"beanstalk":
			{
				"configPath": "%SolutionPath%\\Comercio\\Comercio\\AdminWebSite\\PackageConfig.txt"
			}
		}
	},
	{
		"product": "commerce-admin-a",
		"acronym": "admin-a",
		"layer": "webapp",
		"application": "portal-admin-a-web-app",
		"roots": [],
		"integration": 
		{
			"microsoft": {
				"msbuild": {
					"solutionPath": "%teamcity.build.checkoutDir%\\src",
					"projectFile": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.Admin\\Vtex.Commerce.WebApps.Admin.csproj"
				}
			}
		},
		"infrastructure":
		{
			"beanstalk":
			{
				"configPath": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.Admin\\PackageConfig.txt"
			}
		}
	},
	{
		"product": "commerce-admin-svc",
		"acronym": "admsvc",
		"layer": "webapp",
		"application": "portal-admin-svc-web-app",
		"roots": [],
		"integration": 
		{
			"microsoft": {
				"msbuild": {
					"solutionPath": "%teamcity.build.checkoutDir%\\src",
					"projectFile": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.AdminWcfService\\Vtex.Commerce.WebApps.AdminWcfService.csproj"
				}
			}
		},
		"infrastructure":
		{
			"beanstalk":
			{
				"configPath": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.AdminWcfService\\PackageConfig.txt"
			}
		}
	},
	{
		"product": "commerce-srch-idx",
		"acronym": "srcidx",
		"layer": "webapp",
		"application": "portal-srch-idx-web-app",
		"roots": [],
		"integration": 
		{
			"microsoft": {
				"msbuild": {
					"solutionPath": "%teamcity.build.checkoutDir%\\src",
					"projectFile": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.SearchIndexer\\Vtex.Commerce.WebApps.SearchIndexer.csproj"
				}
			}
		},
		"infrastructure":
		{
			"beanstalk":
			{
				"configPath": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.SearchIndexer\\PackageConfig.txt"
			}
		}
	},
	{
		"product": "commerce-webapiserver",
		"acronym": "ptlapi",
		"layer": "webapp",
		"application": "portal-webapiserver-web-app",
		"roots": [],
		"integration": 
		{
			"microsoft": {
				"msbuild": {
					"solutionPath": "%teamcity.build.checkoutDir%\\src",
					"projectFile": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.WebApiServer\\Vtex.Commerce.WebApps.WebApiServer.csproj"
				}
			}
		},
		"infrastructure":
		{
			"beanstalk":
			{
				"configPath": "%SolutionPath%\\Web Applications\\Vtex.Commerce.WebApps.WebApiServer\\PackageConfig.txt"
			}
		}
	}	

]

